Source: maeotp
Section: user/utilities
Priority: extra
Maintainer: Sicelo A. Mhlongo <absicsz@gmail.com>
Build-Depends: debhelper (>= 10), autotools-dev, libhildon1-dev (>= 2.2), libosso-dev (>= 2.32)
Standards-Version: 4.2.0

Package: maeotp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OTP Generator for N900
 OTP Generator for Maemo on the Nokia N900. Supports OATH tokens 
 (HOTP,TOTP) as well as the Mobile-OTP algorithm.
